<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>URL SHORTENER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <body>
    <br>
    <div class="container">
      <div class="notification">
          <h1 style="text-align:center;font-size: 30px ">URL SHORTENER</h1>
          <form class="" action="" method="post">
            {% csrf_token %}
            <br>
            {{ form.non_field_errors }}
            <div class="field">
              {{ form.url.errors }}
              <label class="label" for="{{ form.url.id_for_label }}">URL</label>
              <div class="control">
                {{ form.url }}

              </div>
            </div>
            {{ form.custom.errors }}
            <div class="field">
              <label class="label" for="{{ form.url.id_for_label }}">CUSTOM LINK</label>
              <div class="control">
                {{ form.custom }}

              </div>
            </div>


            <div class="control">
              <button class="button is-primary">Submit</button>
            </div>
          </form>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="notification">

        <h1 style="text-align:center;font-size: 30px ">LINKS MAIS VISITADOS</h1>

        {% if entry %}
        <table class="table is-striped" style="background-color:rgba(0, 0, 0, 0)"; align="center">
          <br>
          <thead>
            <th>URL ORIGINAL</th>
            <th>URL ENCURTADO</th>
            <th>VISITAS</th>
          </thead>

          <tbody>
          {% for acc in entry %}
          <tr>
            <td>{{ acc.original }}</td>
            <td>{{ acc.link }}</td>
            <td>{{ acc.count }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

        {% else %}
          <p>Nada encontrado!</p>
        {% endif %}

      </div>
    </div>

  </body>
</html>
